@model BooksNextRowsViewModel
@if (this.Model != null && this.Model.Books != null && this.Model.Books.Count > 0)
{
    foreach (var book in this.Model.Books)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@Html.ActionLink("Edit", "Edit", "Books", new { id = book.ObjectId }, null)</td>
        </tr>
    }
    <tr id="show-next-books-row">
        <td colspan="3">
            @using (Ajax.BeginForm("GetBooks", "Books", new { pageNumber = ++this.Model.PageNumber, pageSize = this.Model.PageSize }, new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "show-next-books-row" }))
            {
                <button type="submit" class="btn">Show more</button>
            }
        </td>
    </tr>
}

