@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Know Thy Shelf</h1>
    <p class="lead">Welcome to the KTS Library! You can add and update the existing collection of the books in the Know Thy Shelf library here.</p>
</div>